.navBar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 2%;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);    
}

h1,
h2 {
  cursor: pointer;
}

.account {
  display: flex;
  /* border: 1px solid black;     */
  width: 12.5%;
  justify-content: space-between;
}


@media (max-width: 767px) {
  .navBar{
    width: 100%
  }

  .account{
    justify-content: flex-end;
  }
}